.weather-img {
  width: 100%;
}

.search-city {
  width: 70%;
  height: 50px;
  font-size: 20px;
  text-align: center;
}

.city-img {
  width: 100px;
}

.search-btn {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.weather-container {
  border: 1px solid black;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.weather-card {
  border: 1px solid black;
  padding: 10px;
  border-radius: 15px;
}
